---
import StarCard from "../StarCard.astro";
---

<section class="appear-section w-full py-16 px-8">
  <div class="grid grid-cols-2 gap-6">
    <div class="flex justify-center">
      <StarCard title="Malva" body="hola" url="" />
    </div>
    <div class="flex justify-center"></div>
  </div>
</section>
