---
import Card from "../Card.astro";
---

<section class="appear-section w-full py-16 px-8">
  <div class="grid grid-cols-2 gap-6">
    <div class="flex justify-center">
      <Card title="Malva" body="hola" url="" />
    </div>
    <div class="flex justify-center">
      <Card title="Independencia" body="hola" url="" />
    </div>
  </div>
</section>
