---
interface Props {
  title: string;
  body: string;
  url: string;
  className?: string;
}

const { url, title, body, className } = Astro.props;
---

<div class={`clip-path relative ${className} `}>
  <div class="absolute -top-1 right-1 h-28 w-28 rounded-full bg-red-300/20">
  </div>
  <div
    class="bg-white/20 h-full shadow-[5px_5px_0px_0px_rgba(109,40,217)] ring-1 ring-black/5 rounded-lg p-6 text-center hover:scale-105 transition-all duration-300"
  >
    <!-- Imagen en el fondo -->
    <img
      class="absolute top-0 left-0 w-full h-full object-cover opacity-30 pr-4"
      src="/mariposas.png"
      alt="Imagen de fondo"
    />

    <!-- Contenido sobre la imagen -->
    <div class="pb-5">
      <h3 class="text-xl font-semibold text-white mb-2">{title}</h3>
      <p class="text-white">{body}</p>
    </div>
  </div>
</div>
